@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
.Places {
  border-bottom: 1px dashed grey;
  z-index: 1;
  top: 0;
  left: 0;

  .map-place,
  .mapboxgl-canvas {
    z-index: 0;
  }
  .btn-load-photos {
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
.teste {
 width: 300px !important;
 margin: 0 auto;
 display: block; 
}
